body {
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 400;
}
textarea {
  resize: none;
}

.post-title {
  text-align: center;
}
.fileLabel,
.upload-form {
  flex-direction: column;
}

input[type="file"] {
  display: none;
}

.newpost-container,
.upload-form {
  width: 80%;
}

.upload-form {
  margin: 0 auto;
}

.upload-form p {
  font-size: 0.8rem;
  margin: 0.5em 0;
  align-self: flex-end;
}

.newpost-container {
  height: 100vh;
  margin: 2em auto;
}

.postData,
.upload-form,
.fileLabel,
.nav {
  display: flex;
}

.upload-form,
.fileLabel,
.nav {
  align-items: center;
}

.image-box,
.postBtn,
textarea {
  padding: 1em;
}

.image-box {
  border: 1px dashed blue;
}

.postBtn {
  background-color: var(--light-blue);
  border: 0;
  font-weight: 900;
  width: 50%;
  margin: 1em auto;
}

::placeholder {
  color: var(--light-blue);
}

.image-box,
textarea,
button,
.newImage {
  border-radius: 10px;
}

button,
.image-box {
  cursor: pointer;
}

.postData {
  justify-content: space-between;
}

.imageData {
  width: 100%;
}

textarea,
.image-box,
.newImage,
.sliders {
  width: 100%;
  margin: 0.8em 0;
}

.uploaded-image {
  width: 90%;
  margin: 0 auto;
}

label {
  width: 30%;
}

input[type="range"] {
  width: 65%;
}

.sliders {
  padding: 0.5em 0;
}

.postBtn:hover,
.postBtn:focus {
  background-color: var(--main-color);
  color: var(--light-blue);
}

@media (max-width: 600px) {
  .newpost-container {
    width: 95%;
  }

  .postData {
    flex-direction: column;
  }

  .postBtn {
    width: 60%;
  }

  .post-title {
    text-align: center;
    margin: 0.8em 0;
  }
}
