@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Metamorphous&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather";
  color: #031f41;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #031f41;
  --light-blue: #a4bfd8;
}
.app {
  height: 100vh;
  position: relative;
  /* -ms-overflow-style: none; IE and Edge
  scrollbar-width: none; Firefox */
}

/* ::-webkit-scrollbar {
  display: none; Chrome, Safari, Opera
} */

.blind {
  display: none;
}

.section {
  margin: 80px 100px;
}

@media all and (max-width: 950px) {
  .section {
    margin: 5vw;
  }
}
