@import "vars";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: top;
}

.trending {
  display: flex;
  padding: 20px !important;
  border: 1px solid $main-color;
  max-width: 1000px;
  border-radius: 10px;
  .trendingBox {
    width: 200px;
  }
  .tag {
    margin-top: 20px;
  }
}
.container {
  margin: 50px auto;
  max-width: 600px;
}
.contents {
  padding: 10px;
  border-top: 1px solid $main-color;
  text-align: left;
}

.tempBtn {
  width: 100%;
  margin-bottom: 50px;
  padding: 10px;
  color: #031f41;
  border: none;
  background-color: #a4bfd8;
  &:hover {
    color: #a4bfd8;
    background-color: #031f41;
  }
}
