#home {
  display: grid;
  gap: 3em;
}

.home-hero-text {
  text-align: center;
}
.home-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  &.reverse {
    flex-direction: row-reverse;
  }

  .card .cardBody .cardImg img {
    width: 65vw;
    object-fit: contain;
    max-width: 300px;
  }
}

.dev {
  display: flex;
  align-items: center;
  gap: 1em;
}

.dev h5 {
  width: 30%;
}

.icons {
  display: flex;
  gap: 1em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--light-blue);
}
