.nav-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  padding: 1rem;
  border-top: 1px solid #031f41;
  background: #fff;
  img {
    width: 50%;
  }
}
