.card {
  margin-bottom: 30px;
  border: 1px solid #031f41;
  border-radius: 10px;
  overflow: hidden;
}
.card .cardHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #031f41;
}
.card .cardHeader .profile {
  width: 5vw;
  height: 5vw;
  margin-right: 10px;
  min-width: 30px;
  min-height: 30px;
  background-color: #000;
  border-radius: 100%;
}

.card .cardBody {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031f41;
}
.card .cardBody .cardImg img {
  width: 65vw;
  object-fit: contain;
  max-width: 600px;
  max-height: 400px;
}
.card .contents {
  padding: 10px;
  border-top: 1px solid #031f41;
  text-align: left;
}
